@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.pricing i {
  background: #0d6dfd48;
  color: white;
  padding: 3px;
  border-radius: 50%;
}

@media screen and (max-width: 450px) {
  header .navbar-brand {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .testimonial .none {
    display: none;
  }
}
